/* 공통부 */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 600px;
  margin: 0 auto;
  padding-top: 10px;
}

.basic-background {
  background: url("../images/home-background.png") no-repeat center top;
  background-size: 360px 330px;
}

.map-background {
  background: url("../images/home-map-background.png") no-repeat center top;
  background-size: 360px 600px;
}

.login-background {
  background: url("../images/login-background.png") no-repeat center top;
  background-size: 360px 500px;
}

.menu-background {
  background: url("images/menu-background.png") no-repeat center bottom;
  background-size: 360px 100px;
}

ul, li {
  list-style: none;
}

fieldset {
  border: 0px;
}

legend {
  visibility: hidden;
}

a, span {
  text-decoration: none;
  color: #333;
}

/* focus시 링크 테두리 삭제 */

input:focus{
  border: none;
  outline:none;
  outline-style: none;
  -moz-outline-style:none; 
}

area:focus{
  border: none;
  outline:none;
  outline-style: none;
  -moz-outline-style:none; 
}

img,
img a {
  outline: none !important;
  border: none !important;
}

pre {
  white-space:pre-line;
}

input[type='submit'],
input[type='text'],
input[type='email'],
input[type='password'],
button,
select, 
textarea {
  -webkit-appearance: none;
}

.header-btn {
  width: 360px;
  height: 40px;
}

.logo {
  margin-top: 40px;
  width: 200px;
  height: 100px;
}

/* 지역별 내비게이션바 */
.nav {
  width: 360px;
  height: 70px;
  overflow: auto hidden;
  padding-bottom: 5px;
  
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav ul {
  width: 1100px;
  height: 80px;
  margin-left: 5px;
}

.nav li {
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  margin: 0 3px;
}

.nav a {
  color: #eee;
}

.nav .active {
  color: #333;
}

/* 실시간 검색어 */
#scroll {
  width: 200px;
  height: 30px;
  margin-top: -20px;
  padding-bottom: -10px;
}

#scroll li {
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.rank {
  margin-top: -30px;
  margin-bottom: 10px;
  width: 200px;
  padding: 0 5px;
  height: 20px;
  overflow: hidden;
  font-size: 11px;
}

.rank ul,
.rank li {
  margin: 0;
  padding: 0;
  text-align: center;
}

.rank li a {
  display: block;
  height: 20px;
  line-height: 20px;
  color: #555;
}

.rank li span {
  padding: 2px;
  font-weight: bold;
  margin: 5px;
}

.rank li .region-tag {
  background-color: #758;
  border-radius: 20px;
  color: #eee;
  font-size: 10px;
  font-weight: normal;
  padding: 1px 4px;
}

.rank-up {
  color: #11f;
  font-weight: bold;
}

.rank-down {
  color: #f11;
  font-weight: bold;
}

.rank-popup {
  width: 200px;
  height: 250px;
  background: rgba(255,255,255,0.6);
  border-radius: 30px;
  color: ;
  display: none;
}

.rank-wrapper:hover .rank-popup {
  position: fixed;
  margin-top: -30px;
  margin-left: 0px;
  display: block;
  animation: opacity-rank ease 2s alternate;
}

.rank-popup li {
  margin-bottom: 5px;
}

.rank-wrapper:hover .chart {
  visibility: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}

.footer-text {
  font-size: 12px;
}

.footer-btn {
  width: 35px;
  height: 35px;
  animation: moving-btn 1s;
}

.footer-btn:hover {
  animation: moving-btn-reset 1s infinite ease;
}

/* index.html */
.search {
  display: block;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  /* white-space: nowrap; */
}

.search-bar {
  border: 0px;
  border-radius: 50px;
  width: 300px;
  height: 40px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 45px;
  padding-bottom: 0px;
  float: left;
}

.search-btn {
  margin-left: -50px;
  margin-right: 10px;
  margin-top: 5px;
  width: 28px;
  height: 28px;
  float: right;
}

.footer-home {
  margin-top: 30px;
}

/* index-map.html */

.explore {
  margin-top: -10px;
  margin-bottom: -10px;
}

.explore-map {
  width: 250px;
}

.footer-map {
  margin-top: -5px;
}

/* login.html */

.login-form ul {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  padding: 0px;
}

.login-form li {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}

.login-form .input-bar {
  border: 0px;
  border-radius: 50px;
  width: 150px;
  height: 35px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-form .login-btn {
  position: absolute;
  margin-left: -40px;
  margin-top: -2px;
  width: 40px;
  height: 40px;
}

.login-form .form-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.login-form .left-text {
  margin-right: 15px;
}

.login-form .right-text {
  margin-left: 15px;
  font-weight: bold;
}

/* menu.html */
.header-menu {
  height: 45px;
}

.user-text {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 200px;
  font-weight: bold;
  color: #333;
}

.menu-list ul {
  width: 360px;
  text-align: center;
  margin-top: -5px;
  padding-left: 0;
}

.menu-list li {
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

/* place-list.html */

.header-list {
  height: 51px;
  margin-top: -2px;
}

.place-list {
  height: 600px;
  overflow: hidden auto;
}

.place-list ul {
  width: 360px;
  height: 850px;
  /* margin-top: 20px; */
  margin-left: 20px;
}

.place-list li {
  height: 120px;
  clear: both;
}

.place-list .thumbnail {
  width: 140px;
  border: 1px solid #eee;
  border-radius: 10px;
  float: left;
}

.place-list li:hover .thumbnail {
  opacity: .8;
  transition: .5s;
}

.place-list .info {
  width: 200px;
  height: 110px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.place-list .title {
  width: 130px;
  margin: 2px 0px 5px 10px;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.place-list .info i {
  font-size: 30px;
  margin-top: 3px;
  float: right;
  color: #f88;
}

.place-list .comments {
  display: flex;
  height: 15px;
  font-size: 10px;
  margin-left: 10px;
  clear: both;
  align-items: center;
}

.place-list .comments img {
  margin-left: 3px;
  margin-bottom: 3px;
}

.place-list .comments span {
  color: #333;
  margin-right: 3px;
}

.place-list .comments .like-num {
  font-weight: 900;
  margin-left: 3px;
}

.place-list .congestion {
  width: 100px;
  height: 15px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

.place-list .congestion i {
  font-size: 11px;
  margin-right: 4px;
  color: #eee;
  float: left;
}

.place-list .congestion span {
  display: inline-block;
  float: left;
  width: 25px;
  font-size: 11px;
  color: #ccc;
  margin-top: 3px;
  margin-right: 3px;
}

.list-up-btn {
  display: inline-block;
  position: sticky;
  bottom: 20px;
  padding-left: 310px;
}

.list-up-btn i {
  font-size: 40px;
  color: #555;
  opacity: .1;
}

.list-footer-btn {
  margin-top: 5px;
  font-size: 20px;
  color: #555;
}

/* list-region-place.html */

.contents::-webkit-scrollbar {
  display: none;
}

.contents {
  width: 360px;
  overflow: hidden auto;
  padding-top: 5px;
}

.contents-header {
  height: 80px;
  padding-left: 5px;
  margin-top: 10px;
}

.contents .info {
  display: inline-block;
  width: 220px;
  padding: 10px 10px;
  float: left;
}

.contents .title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.contents .congestion {
  display: inline-block;
  width: 100px;
  height: 15px;
  margin-left: 10px;
}

.contents .congestion i {
  font-size: 11px;
  margin-right: 4px;
  color: #eee;
  float: left;
}

.contents .congestion span {
  display: inline-block;
  float: left;
  width: 25px;
  font-size: 11px;
  color: #ccc;
  margin-right: 3px;
}

.low > i:nth-child(1) {
  color: cornflowerblue;
}

.normal > i:nth-child(1),
.normal > i:nth-child(2) {
  color: #fb5;
}

.high > i:nth-child(1),
.high > i:nth-child(2),
.high > i:nth-child(3) {
  color: tomato;
}

.contents .address {
  font-size: 11px;
  margin: 5px 0;
  color: #333;
}

.contents .address>a {
  font-weight: 900;
}

.fav-shr-btn {
  display: inline-block;
  width: 80px;
  padding: 15px 5px 10px 10px;
  float: left;
}

.fav-shr-btn i {
  font-size: 25px;
  margin: 0 5px;
  color: #333;
}

.fav-shr-btn span:nth-child(2) i {
  color: #f88;
}

.contents .splide {
  width: 350px;
  height: 180px;
  margin: 0px 5px;
}

.contents .splide__track {
  width: 270px;
  float: right;
}

.contents .splide img {
  width: 250px;
  border-radius: 10px;
}

.contents .map {
  width: 350px;
  height: 180px;
  margin: 0px 5px;
}

.comments::-webkit-scrollbar {
  display: none;
}

.contents .comments-header {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

.contents .comments-header span {
  font-size: 25px;
  font-weight: bold;
  margin: 0 10px;
  color: #333;
}

.contents .comments-header i {
  margin-bottom: 4px;
  color: #f77;
}

.contents .comments {
  display: inline-block;
  width: 98%;
  height: 400px;
  padding: 3px 3px;
  overflow: hidden auto;
}

.contents .comments ul {
  height: 600px;
}

.contents .comments li {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 3px 0;
  clear: both;
}

#my-comment {
  justify-content: flex-end;
}

#my-comment .comments-box {
  background-color: #39f;
  border: 1px solid transparent;
  color: #eee;
}

.contents .comments-box {
  display: inline-block;
  background: transparent;
  color: #333;
  min-width: 50px;
  max-width: 200px;
  padding: 10px 15px;
  border: 1px solid #eef;
  border-radius: 2em;
  margin: 5px;
  font-size: 13px;
}

.contents .comments-box>span {
  font-size: 10px;
  color: #ccc;
  margin: 0px 3px;
}

.contents .comments-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-left: -3px;
}

.contents .comments-like span {
  font-size: 11px;
  color: #666;
}

.contents .like-btn {
  display: inline-block;
  font-size: 12px;
  margin-right: 3px;
}

.contents .like-btn-clicked {
  display: inline-block;
  font-size: 12px;
  margin-right: 3px;
  color: #9af;
}

.contents #map {
  width: 350px;
  height: 180px;
  box-shadow: 0 0 0 1px #ccc inset;
  margin-left: 5px;
}

.place-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: rgba(0, 132, 255, 0.1);
}

.place-footer input {
  width: 280px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
  padding-left: 15px;
  /* margin-bottom: 7px; */
  box-shadow: 1px 1px 1px 1px inset #eee;
}

.place-footer i {
  font-size: 30px;
  color: white;
}

.place-footer button {
  margin-top: 4px;
  margin-left: -50px;
  margin-right: 5px;
  border: transparent;
  background: transparent;
  float: right;
}

.place-footer button i {
  font-size: 24px;
  color: #1af;
}

/* register.html */

.form-wrapper::-webkit-scrollbar {
  display: none;
}

.register .title {
  display: inline-block;
  float: left;
  width: 320px;
  margin-top: 30px;
  margin-left: 20px;
}

.register .title p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.register .title p:nth-child(2),
.register .title p:nth-child(3) {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.register .form {
  width: 350px;
  margin-top: 10px;
  margin-left: 40px;
}

.form tr {
  height: 50px;
}

.register .form th {
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  padding-right: 5px;
}

.register .form input {
  height: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding-left: 10px;
  color: #444;
}

.register .form input:focus {
  background: #1af;
  color: #fff;
}

.register .short {
  width: 100px;
}

.register .form span {
  font-size: 12px;
  color: #ccc;
}

.form .validation-text {
  height: 5px;
  font-size: 10px;
  color: #0da;
}

.validation-text td {
  padding-left: 5px;
}

.register .select-email {
  width: 100px;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #444;
  padding-left: 15px;
}

.register .select-arrow {
  position: absolute;
  margin-top: 6px;
  margin-left: -20px;
  color: #444;
}

.register button,
.register input[type='submit'] {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #1af;
  float: right;
  margin-left: 15px;
  padding-left: 0px;
}

.register #check {
  float: left;
  margin-left: 5px;
  font-size: 12px;
}

.register #prev {
  color: #333;
  background: none;
  border: 1px solid #1af;
}

.register input[type='checkbox'] {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 5px;
}

.form-wrapper {
  height: 300px;
  overflow-y: auto;
}

.register .agree {
  font-size: 13px;
  color: #444;
}

.consent-form {
  height: 500px;
}

.consent-form td {
  height: 40px;
  font-size: 15px;
}

.terms {
  width: 250px;
  height: 100px;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 10px;
  font-size: 12px;
  overflow-y: auto;
}

.terms-btn {
  display: inline-block;
  margin-top: 20px;
  float: right;
}

/* fav-list.html */

#fav-list ul{
  width: 360px;
  height: 250px;
  margin-top: 20px;
}

.nav .fav-check,
.menu-list .fav-check {
  font-size: 20px;
  color: #f77;
}

/* help.html */
.board-wrapper {
  height: 500px;
  overflow-y: auto;
}

.help .title {
  display: inline-block;
  float: left;
  width: 320px;
  margin-top: 30px;
  margin-left: 20px;
}

.help .title p{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.board {
  width: 320px;
  margin-right: 5px;
  table-layout: fixed;
  text-align: center;
  font-size: 13px;
  color: #444;
}

.board,
.board th,
.board td {
  border-top: 1px solid #ccc;
  border-collapse: collapse;
  padding: 4px;
}

.board {
  border-bottom: hidden;
}

.board td {
  height: 25px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.board col:nth-child(1) {
  width: 12%;
}

.board col:nth-child(2) {
  width: 53%;
}

.board col:nth-child(3),
.board col:nth-child(4) {
  width: 17.5%;
}

.board tr > td:nth-child(2) {
  text-align: left;
  padding-left: 5px;
}

.board tr > td:nth-child(4) {
  font-size: 11px;
}

.select-type {
  width: 90px;
  height: 23px;
  border: none;
  box-shadow: 0 0 0 1px #eee inset;
  border-radius: 20px;
  color: #444;
  padding-left: 10px;
  font-size: 12px;
  margin-left: -10px;
}

.board-search {
  margin-top: 10px;
  margin-right: 20px;
}

#board-btn {
  width: 50px;
  height: 21px;
  margin-bottom: 10px;
  color: #eee;
  background: #1af;
  border: none;
  border-radius: 10px;
}

.notice {
  background-color: #1af;
  color: #eee;
  border-radius: 10px;
  font-size: 10px;
  padding: 3px;
  font-weight: bold;
}

.page-explore {
  margin: 10px 0;
}

.page-explore li {
  display: inline-block;
  margin: 10px 5px;
  font-size: 14px;
  color: #555;
}

#current-page {
  text-decoration: underline;
}

.board-search input {
  display: inline-block;
}

.board-input {
  width: 110px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 1px #eee inset;
  height: 22px;
}

.board-input:focus {
  background: #1af;
  color: #fff;
}

.board-search-wrapper {
  margin-left: 30px;
  margin-top: 20px;
}

.help .select-arrow {
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
}

.private {
  color: #bbb;
}

.private i {
  margin-left: 5px;
  font-size: 10px;
}

.help .post-write {
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 13px;
  display: inline-block;
  margin-left: 240px;
  font-weight: bold;
}

.post-write i {
  font-size: 11px;
  margin-right: 4px;
}

.board .post-title {
  text-align: left;
  font-size: 20px;
  padding: 10px 15px;
}

.board .post-info {
  text-align: left;
  font-size: 13px;
  border-top: hidden;
  padding: 0px 15px;
  color: #bbb;
}


.board .comment-num {
  display: inline-block;
  color: #eee;
  width: 15px;
  font-size: 12px;
  background: #bbb;
  border-radius: 20px;
  padding-left: 5px;
}

.user-profile i {
  font-size: 45px;
  color: #ccc;
  margin-left: 30px;
}

.board .post-content {
  height: 100px;
  text-align: left;
  padding: 15px;
}

.board .post-comment {
  border-top: none;
}

.board .post-comment i {
  font-size: 25px;
  color: #ccc;
}

.board .post-comments {
  display: flex;
  align-items: center;
  text-align: left;
}

.board .post-comment-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-top: 15px;
}

.post-comment li {
  padding: 0 2px;
}

.post-comment-input input[type='text'] {
  width: 190px;
  height: 30px;
  border: none;
  box-shadow: 0 0 0 1px #1af inset;
  border-radius: 20px;
  padding-left: 10px;
}

.post-comment-input input[type='text']:focus {
  border: none;
  background-color: #1af;
  color: white;
}

.post-comment-input input[type='submit'] {
  width: 50px;
  height: 30px;
  border: none;
  background: #1af;
  color: white;
  border-radius: 20px;
}

.board .left-btns {
  float: left;
}

.board .right-btns {
  float: right;
}

.board li {
  display: inline-block;
  margin: 0 2px;
}

.board .post-btns {
  border-top: none;
  padding: 10px 0px;
}

.left-btns button,
.right-btns button {
  width: 45px;
  height: 30px;
  box-shadow: 0 0 0 1px #1af inset;
  border: none;
  background: white;
  color: #444;
  padding: 0 7px;
  border-radius: 20px;
}

#post-board {
  border-bottom: 1px solid #bbb;
}


.help-type-container {
  float: left;
  margin-top: 3px;
}

.help-type-container select {
  width: 75px;
  height: 25px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: -2px;
  padding-left: 5px;
}

.post-edit-title input {
  width: 220px;
  height: 15px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #eee;
}

.post-edit-input {
  clear: both;
}

.post-edit-form form {
  float: left;
}

.edit-select-arrow {
  position: absolute;
  margin-top: -21px;
  margin-left: 60px;
}

.post-edit-input {
  margin-top: 10px;
}

.post-edit-input textarea {
  padding: 5px;
}

#edit-complete {
  background: #1af;
  color: white;
}
